checkpoints/
results/
.idea/
*.tar.gz
*.zip
*.pkl
*.pyc
*.exr
datasets/skyHDR/skyangular_data/**
datasets/skyHDR/test_img/**
datasets/skyHDR/train_img/**
datasets/skyHDR/test_label/**
datasets/skyHDR/train_label/**
datasets/skyHDR/testMasks/**
