torch
torchvision
pytorch-ignite
tensorboard
tensorboardX
omegaconf
opencv-python
skylibs
flask
pyinstaller
slack_sdk
opencv-python
protobuf<4.21.0
dominate>=2.3.1
dill
scikit-image
scipy==1.2.0
tensorflow==1.15.0
pillow==6.1.0